---
import SideBar from "@components/SideBar.astro";
import { getArticles } from "@api/article";
import * as path from "path";

export const getStaticPaths = async () => {
  const articles = await getArticles();
  return articles.map((article) => {
    return { params: { id: article.id }, props: { article } };
  });
};

const { id } = Astro.params;
const { article } = Astro.props;

const chapterlinks = article.chapters.map((chapter) => {
  return [chapter.title, `/article/${id}/${chapter.id}`];
});

const links = [[article.title, `/article/${id}`], ...chapterlinks];
const current = article.title;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>particle</title>
  </head>
  <body>
    <div class="flex flex-row">
      <SideBar {links} {current} />
    </div>
  </body>
</html>
