---
import "virtual:windi.css";
import SideBar from "@components/SideBar.astro";
import { getArticles } from "@api/article";

export const getStaticPaths = async () => {
  const articles = await getArticles();
  return articles
    .map((article) => {
      return article.chapters.map((chapter) => {
        return {
          params: { id: article.id, chapter: chapter.id },
          props: { article, chapter },
        };
      });
    })
    .flat();
};

const { id } = Astro.params;
const { article, chapter } = Astro.props;

const chapterlinks = article.chapters.map((chpt) => {
  return [chpt.title, `/article/${id}/${chpt.id}`];
});

const links = [[article.title, `/article/${id}`], ...chapterlinks];
const current = chapter.title;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>particle</title>
  </head>
  <body>
    <div class="flex flex-row">
      <SideBar {links} {current} />
    </div>
  </body>
</html>
